<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskId</key>
	<string>DSStepTask</string>
	<key>frequencyType</key>
	<string>daily</string>
	<key>frequencyNumber</key>
	<string>0</string>
	<key>name</key>
	<string>Step Log</string>
	<key>type</key>
	<string>HealthKit</string>
	<key>status</key>
	<true/>
	<key>questions</key>
	<array>
		<dict>
			<key>answerType</key>
			<string>Introduction</string>
			<key>prompt</key>
			<string>Please provide the number of steps.</string>
			<key>questionId</key>
			<string>DSStepIntroduction</string>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>maximum</key>
				<integer>20</integer>
				<key>minimum</key>
				<integer>0</integer>
			</dict>
			<key>prompt</key>
			<string>How many steps did she make?</string>
			<key>answerUnit</key>
			<string>steps</string>
			<key>answerType</key>
			<string>NSNumber</string>
			<key>questionId</key>
			<string>step</string>
			<key>dashboard</key>
			<dict>
				<key>graphType</key>
				<string>LineGraphChartView</string>
				<key>yAxisColName</key>
				<string></string>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>title</key>
				<string>Number of step</string>
				<key>subtitle</key>
				<string>Step/day</string>
				<key>rank</key>
				<integer>0</integer>
				<key>color</key>
				<dict>
					<key>red</key>
					<real>1</real>
					<key>green</key>
					<real>0.2113</real>
					<key>blue</key>
					<real>0.3618</real>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
