<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>HealthKit</string>
			<string>Header</string>
		</array>
		<array>
			<string>Appareil personnel du patient</string>
			<string>ToggleCell</string>
			<string>personalDevice</string>
		</array>
		<array>
			<string>Authoriser HealthKit</string>
			<string>ToggleCell</string>
			<string>authorizeHK</string>
		</array>
	</array>
	<array>
		<array>
			<string>Configurer</string>
			<string>Header</string>
		</array>
		<array>
			<string>Données du dashboard</string>
			<string>MoreCell</string>
			<string>selectData</string>
		</array>
	</array>
	<array>
		<array>
			<string>Données Personelles</string>
			<string>Header</string>
		</array>
		<array>
			<string>Partager les données avec un contact</string>
			<string>ToggleCell</string>
			<string>shareData</string>
		</array>
		<array>
			<string>Traitements personnels</string>
			<string>MoreCell</string>
			<string>defineTreatment</string>
		</array>
		<array>
			<string>Supprimer les données locales</string>
			<string>SettingsCell</string>
			<string>deleteData</string>
		</array>
		<array>
			<string>Supprimer les données distantes</string>
			<string>SettingsCell</string>
			<string>deleteRemoteData</string>
		</array>
	</array>
	<array>
		<array>
			<string>Développement</string>
			<string>Header</string>
		</array>
		<array>
			<string>Signaler un bug</string>
			<string>SettingsCell</string>
			<string>reportBug</string>
		</array>
	</array>
</array>
</plist>
