<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sections</key>
		<string>HealthKit</string>
		<key>sectionTitle</key>
		<string>View HealthKit Authorization</string>
		<key>sectionText</key>
		<string></string>
	</dict>
	<dict>
		<key>sections</key>
		<string>Bug</string>
		<key>sectionTitle</key>
		<string>Report a bug</string>
		<key>sectionText</key>
		<string>Launch BugLife to report a bug.</string>
	</dict>
	<dict>
		<key>sections</key>
		<string>sections</string>
		<key>sectionTitle</key>
		<string>Text Title</string>
		<key>sectionText</key>
		<string>Text1</string>
	</dict>
</array>
</plist>
