<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskId</key>
	<string>DSSleepTask</string>
	<key>frequencyNumber</key>
	<string>1</string>
	<key>type</key>
	<string>Survey</string>
	<key>status</key>
	<true/>
	<key>questions</key>
	<array>
		<dict>
			<key>prompt</key>
			<string>Essayez de décrire le sommeil de votre fille.</string>
			<key>answerType</key>
			<string>Introduction</string>
			<key>questionId</key>
			<string>DSSleepIntro</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Combien d&apos;heures a dormi votre fille?</string>
			<key>answerRange</key>
			<dict>
				<key>maximum</key>
				<integer>20</integer>
				<key>minimum</key>
				<integer>0</integer>
			</dict>
			<key>answerUnit</key>
			<string>heures</string>
			<key>answerType</key>
			<string>NSNumber</string>
			<key>dashboard</key>
			<dict>
				<key>xScale</key>
				<integer>2</integer>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>yScale</key>
				<real>1.75</real>
				<key>subtitle</key>
				<string>Heures/Jour</string>
				<key>color</key>
				<dict>
					<key>green</key>
					<real>0.2113</real>
					<key>blue</key>
					<real>0.3618</real>
					<key>red</key>
					<real>1</real>
				</dict>
				<key>title</key>
				<string>Sommeil</string>
				<key>graphType</key>
				<string>LineGraphChartView</string>
				<key>yAxisColName</key>
				<string></string>
			</dict>
			<key>questionId</key>
			<string>hoursSleep</string>
		</dict>
		<dict>
			<key>optional</key>
			<true/>
			<key>prompt</key>
			<string>Utilisez cet espace pour décrire des éléments importants à propos du sommeil de votre fille.</string>
			<key>answerType</key>
			<string>String</string>
			<key>questionId</key>
			<string>DSSleepDescription</string>
		</dict>
	</array>
	<key>name</key>
	<string>Journal du sommeil</string>
	<key>frequencyType</key>
	<string>daily</string>
</dict>
</plist>
