<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskId</key>
	<string>RettGrossMotorScale</string>
	<key>frequencyType</key>
	<string>onDemand</string>
	<key>frequencyNumber</key>
	<string>0</string>
	<key>name</key>
	<string>MotorScale</string>
	<key>type</key>
	<string>Survey</string>
	<key>status</key>
	<true/>
	<key>questions</key>
	<array>
		<dict>
			<key>answerType</key>
			<string>Introduction</string>
			<key>prompt</key>
			<string>Assessment needs to be conducted when the child is well and not hungry or tired.

Base the assessment on spontaneous activity as far as possible.

Use engaging activities to encourage the child to maintain balance, transition or move.</string>
			<key>questionId</key>
			<string>MotorScaleIntroduction</string>
		</dict>
		<dict>
			<key>answerType</key>
			<string>Introduction</string>
			<key>prompt</key>
			<string>Complete your rating of the level of assistance needed and select the image on the following screens.

- None: no support needed including without the use of arms.
- Minimal: with single arm propping, light touch or one hand held.
- Moderate: needing trunk support or two hands held.
- Maximal: if support for upright posture, balance and movement is needed in order to accomplish the movement or if the child is unable to perform.</string>
			<key>questionId</key>
			<string>MotorScaleInstruction</string>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>45</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Sitting on floor for 10 seconds.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorSittingFloorSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>dashboard</key>
			<dict>
				<key>graphType</key>
				<string>timeBased</string>
				<key>id</key>
				<string>globalMotorScore</string>
				<key>yAxisColName</key>
				<string>DSDateColName</string>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>title</key>
				<string>Global Motor Score</string>
				<key>subtitle</key>
				<string>Rett Syndrome Gross Motor Scale</string>
				<key>rank</key>
				<integer>0</integer>
				<key>color</key>
				<dict>
					<key>red</key>
					<real>0.498</real>
					<key>green</key>
					<real>0.0863</real>
					<key>blue</key>
					<real>0.8</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>9</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Sitting on a chair with a back 10 seconds.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorSittingChairSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>dashboard</key>
			<dict>
				<key>id</key>
				<string>sittingSubscaleScore</string>
				<key>graphType</key>
				<string>timeBased</string>
				<key>yAxisColName</key>
				<string>DSDateColName</string>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>title</key>
				<string>Sitting subscale Score</string>
				<key>subtitle</key>
				<string>Rett Syndrome Gross Motor Scale</string>
				<key>rank</key>
				<integer>1</integer>
				<key>color</key>
				<dict>
					<key>red</key>
					<real>0.498</real>
					<key>green</key>
					<real>0.0863</real>
					<key>blue</key>
					<real>0.8</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>27</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Sitting on a stool 10 seconds (no back support).

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorSittingStoolSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>dashboard</key>
			<dict>
				<key>id</key>
				<string>standingWalkingSubscaleScore</string>
				<key>graphType</key>
				<string>timeBased</string>
				<key>yAxisColName</key>
				<string>DSDateColName</string>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>title</key>
				<string>Standing and Walking subscale Score</string>
				<key>subtitle</key>
				<string>Rett Syndrome Gross Motor Scale</string>
				<key>rank</key>
				<integer>2</integer>
				<key>color</key>
				<dict>
					<key>red</key>
					<real>0.498</real>
					<key>green</key>
					<real>0.0863</real>
					<key>blue</key>
					<real>0.8</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>9</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Sit to stand.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorSittingStandSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>dashboard</key>
			<dict>
				<key>graphType</key>
				<string>timeBased</string>
				<key>id</key>
				<string>challengeSubscaleScore</string>
				<key>yAxisColName</key>
				<string>DSDateColName</string>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>title</key>
				<string>Challenge subscale Score</string>
				<key>subtitle</key>
				<string>Rett Syndrome Gross Motor Scale</string>
				<key>rank</key>
				<integer>3</integer>
				<key>color</key>
				<dict>
					<key>red</key>
					<real>0.498</real>
					<key>green</key>
					<real>0.0863</real>
					<key>blue</key>
					<real>0.8</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Standing 3 seconds.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorStanding3Survey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Standing 10 seconds.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorStanding10Survey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Standing 20 seconds.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorStanding20Survey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Walks 10 steps.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorWalk10Survey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Side steps.
Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorSideStepSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Turns.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorTurnsSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Walks on a slope.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorWalkSlopeSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Steps over obstacle (height of a door frame).

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorWalkObstacleSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Stands up from the floor.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorStandUpSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Bending to touch the floor and returns to standing.

Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorBendingSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>New item</key>
			<dict>
				<key>answerRange</key>
				<dict>
					<key>minimum</key>
					<integer>1</integer>
					<key>maximum</key>
					<integer>3</integer>
				</dict>
				<key>answerUnit</key>
				<string>NSNumber</string>
				<key>answerType</key>
				<string>ImageChoice</string>
				<key>prompt</key>
				<string>Bending to touch the floor and returns to standing.
Which image better describes the girl&apos;s need of assistance?</string>
				<key>questionId</key>
				<string>motorBendingStandSurvey</string>
				<key>imageChoice</key>
				<array>
					<dict>
						<key>selectedImage</key>
						<string>motorVeryGoodSelected</string>
						<key>normalImage</key>
						<string>motorVeryGoodNormal</string>
						<key>text</key>
						<string>None</string>
						<key>value</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>selectedImage</key>
						<string>motorGoodSelected</string>
						<key>normalImage</key>
						<string>motorGoodNormal</string>
						<key>text</key>
						<string>Minimal</string>
						<key>value</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>selectedImage</key>
						<string>motorRegularSelected</string>
						<key>normalImage</key>
						<string>motorRegularNormal</string>
						<key>text</key>
						<string>Moderate</string>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>selectedImage</key>
						<string>motorBadSelected</string>
						<key>normalImage</key>
						<string>motorBadNormal</string>
						<key>text</key>
						<string>Maximal</string>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>dashboard</key>
				<dict>
					<key>graphType</key>
					<string>timeBased</string>
					<key>yAxisColName</key>
					<string>DSDateColName</string>
					<key>timeUnit</key>
					<string>Month</string>
					<key>title</key>
					<string>Motor Scale</string>
					<key>subtitle</key>
					<string></string>
					<key>rank</key>
					<integer>0</integer>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.498</real>
						<key>green</key>
						<real>0.0863</real>
						<key>blue</key>
						<real>0.8</real>
					</dict>
				</dict>
			</dict>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>1</integer>
				<key>maximum</key>
				<integer>3</integer>
			</dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Runs.
Which image better describes the girl&apos;s need of assistance?</string>
			<key>questionId</key>
			<string>motorRunsSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>motorVeryGoodSelected</string>
					<key>normalImage</key>
					<string>motorVeryGoodNormal</string>
					<key>text</key>
					<string>None</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorGoodSelected</string>
					<key>normalImage</key>
					<string>motorGoodNormal</string>
					<key>text</key>
					<string>Minimal</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorRegularSelected</string>
					<key>normalImage</key>
					<string>motorRegularNormal</string>
					<key>text</key>
					<string>Moderate</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>motorBadSelected</string>
					<key>normalImage</key>
					<string>motorBadNormal</string>
					<key>text</key>
					<string>Maximal</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>optional</key>
			<true/>
			<key>answerType</key>
			<string>String</string>
			<key>prompt</key>
			<string>Use this space to write anything you think it&apos;s important.</string>
			<key>questionId</key>
			<string>MotorDescription</string>
		</dict>
	</array>
</dict>
</plist>
