<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instruction</key>
	<dict>
		<key>detailText</key>
		<string>L&apos;objectif de l&apos;application RettApp est d&apos;aider les enfants souffrant du Syndrome de Rett et les autres autour d&apos;eux. En particulier en améliorant la qualité de vie et en aidant à comprendre les nombreux aspects de la vie quotidienne qui influent sur l&apos;expression du syndrome.</string>
	</dict>
	<key>question</key>
	<array>
		<dict>
			<key>expectedAnswer</key>
			<string>0</string>
			<key>type</key>
			<string>Boolean</string>
			<key>title</key>
			<string>Avez-vous été obligé de télécharger cette application?</string>
			<key>identifier</key>
			<string>quizForcedToDownload</string>
		</dict>
		<dict>
			<key>expectedAnswer</key>
			<string>1</string>
			<key>type</key>
			<string>Boolean</string>
			<key>title</key>
			<string>Etes-vous familier des applications sur smartphone?</string>
			<key>identifier</key>
			<string>quizConfortableWithApp</string>
		</dict>
		<dict>
			<key>expectedAnswer</key>
			<string>1</string>
			<key>type</key>
			<string>Boolean</string>
			<key>title</key>
			<string>Avez-vous plus de 18 ans?</string>
			<key>identifier</key>
			<string>quizOverEighteen</string>
		</dict>
		<dict>
			<key>expectedAnswer</key>
			<string>1</string>
			<key>type</key>
			<string>Boolean</string>
			<key>title</key>
			<string>Etes-vous un parent/tuteur d&apos;une fille atteinte du Syndrome de Rett?</string>
			<key>identifier</key>
			<string>quizResponsibleForGirl</string>
		</dict>
	</array>
</dict>
</plist>
